<h1>Crear cuenta</h1>

<%= form_with(url: sessions_path, model: @user, local:true) do |f| %>

    <div>
        <%= f.label :email, 'email' %>
        <%= f.email_field :email %>
    </div>

    <div>
        <%= f.label :password, 'password' %>
        <%= f.password_field :password %>
    </div>

    <div>
        <%= f.label :password_confirmation, 'reingresa el password' %>
        <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit 'Guardar' %>
<%end%>